
main {
  background-color: #28282A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./../../../public/background.png');
  background-position: 0 30%;
  background-repeat: repeat-x;
  background-size: 100vw;
  animation: scroll-left 4s linear infinite;
}

@keyframes scroll-left {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100vw;
  }
}

.logo {
  height: 20vh;
  margin-top: 5vh;
  animation: pulse 15s linear infinite;
}

@keyframes pulse {
  0% {
    transform: rotate(0) scale(.9);
  }
  12.5% {
    transform: rotate(2.5deg) scale(1.1);
  }
  25% {
    transform: rotate(5deg) scale(.9);
  }
  37.5% {
    transform: rotate(2.5deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(.9);
  }
  62.5% {
    transform: rotate(-2.5deg) scale(1.1);
  }
  75% {
    transform: rotate(-5deg) scale(.9);
  }
  87.5% {
    transform: rotate(-2.5deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(.9);
  }
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-items {
  color: #929497;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 3rem;
  margin: 5px;
  transition-duration: 50ms;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

.menu-items:hover {
  color: #FFD700;
  transform: scale(1.2);
}