.about {
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: fixed;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    background-color: #495EAB;
    padding: 5px 10px 5px 10px;
    border: black solid 2px;
    border-radius: 20px;
    margin: 0;
    height: 60px;
    font-size: 3.5rem;
}

.about-container {
    margin-top: 60px;
    padding-top: 5px;
    width: 100%;
    height: 80%;
    background-color: #1c2342ce;
    border: black solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    width: 90%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.8rem;
}

.back-button {
    margin-top: 20px;
    font-family: inherit;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    background-color: #495eabde;
    padding: 5px 10px 5px 10px;
    border: black solid 2px;
    border-radius: 20px;
    height: 60px;
    width: 500px;
}

.back-button:hover {
    border: #FFD700 solid 2px;
}

.socials-container {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.socials-badge {
    border: black solid 2px;
    border-radius: 10px;
}

.socials-badge:hover {
    border: #FFD700 solid 2px;
    border-radius: 10px;
}