.tech-box {
    margin: 20px;
    width: 45%;
    height: 80px;
    background-color: #495eabce;
    border: #4C65B7 solid 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-container {
    position: relative;
    background-color: #1c2342ce;
    aspect-ratio: 1/1;
    height: 80%;
    overflow: hidden;
}

.tech-name {
    color: white;
    font-size: 3rem;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.icon-border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.tech-icon {
    position: absolute;
    width: 100%;
    height: 100%;
}